<div
    class=" bg-slate-100 rounded-lg overflow-hidden hover:shadow-[0_3px_10px_rgb(0,0,0,0.2)] hover:translate-y-[-8px] transition-all">
    <a class=" hover:text-textColor" [routerLink]="['/detail/1']">
        <img loading="lazy" class="h-[200px] w-full object-cover"
            src="https://img.thuephongtro.com/images/thumb/2020/10/08/20201008070713-mavi4.jpg" alt="" />
        <div class="px-3 py-1 pb-4">
            <p>Cho thuê phòng trọ tôn thất thuyết quận 4</p>
            <p><i class="fa-solid fa-money-bill mr-2"></i>2.5 Triệu/tháng</p>
            <p><i class="fa-solid fa-expand mr-2"></i>25m<sup>2</sup></p>
            <p><i class="fa-solid fa-location-dot mr-2"></i> <span>Quận 5, Hồ Chí Minh</span></p>
        </div>
    </a>
</div>