<div class="flex gap-3  mt-5">
    <img src="https://thuephongtro.com/images/avatar/9bbc766c42ec4d178d88786b84b5c963.jpg" alt=""
        class="size-[30px] rounded-[50%]">
    <div>
        <div class="flex gap-2 items-center"><span class="font-bold">Nguyễn văn A</span> <span
                class="text-gray-500 text-[13px]">{{commentDate | date
                :'dd/MM/yyyy'}}</span>
        </div>
        <div>
            <p #comment>{{content}}</p>
            <span *ngIf="showBtnShowMore" class="cursor-pointer font-semibold"
                (click)="handelShowMore()">{{titleShowMore}}</span>

        </div>
    </div>
</div>