<div class="flex gap-3  mt-5">
    <img src="assets/img/avaDefault.png" alt="" class="size-[30px] rounded-[50%]">
    <div>
        <div class="flex gap-2 items-center"><span class="font-bold">{{content.accountName}}</span> <span
                class="text-gray-500 text-[13px]">{{content.createDate | date
                :'dd/MM/yyyy'}}</span>
        </div>
        <div>
            <p #comment>{{content?.content}}</p>
            <span *ngIf="showBtnShowMore" class="cursor-pointer font-semibold"
                (click)="handelShowMore()">{{titleShowMore}}</span>

        </div>
    </div>
</div>