<nz-modal [(nzVisible)]="isVisiblePopUpForgotPassWord" nzCentered [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">
    <!-- <ng-template #modalTitle>
        <div class="text-center text-primary font-semibold text-[40px]">
            <span>{{'Menu.unit'|translate}}</span>
        </div>
    </ng-template> -->

    <ng-template #modalContent>
        <div class="text-center text-primary font-semibold text-[40px] uppercase">
            <span>{{'PopUpForgotPassword.forgotPassword'|translate}}</span>
        </div>

        <div class="flex flex-col gap-2   h-fit lg:px-[30px] lg:pb-2 overflow-auto">
            <span>{{'PopUpForgotPassword.reciveOTP'|translate}}</span>
            <form [formGroup]="form">
                <div class="flex flex-col relative">
                    <div class="flex flex-col">
                        <label for="email" class="w-52">Email</label>
                        <mat-form-field class="custom-input" appearance="outline">
                            <input formControlName="email" name="email" matInput placeholder="Email" />
                            <mat-error
                                *ngIf="form.get('email')?.errors?.['required']&& (form.get('email')?.dirty || form.get('email')?.touched)"
                                class="text-red-600">
                                {{'PopUpRegister.noEmty'|translate}}
                            </mat-error>
                            <mat-error
                                *ngIf="form.get('email')?.errors?.['email']&& (form.get('email')?.dirty || form.get('email')?.touched)"
                                class="text-red-600">
                                {{'PopUpRegister.wrongEmail'|translate}}
                            </mat-error>
                            <mat-error
                                *ngIf="form.get('email')?.errors?.['errApi']&& (form.get('email')?.dirty || form.get('email')?.touched)"
                                class="text-red-600">
                                {{'Login.notExitEmail'|translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template #modalFooter>
        <div class="flex justify-center">
            <button nz-button nzType="primary"
                class="!bg-primary text-white border-none  rounded-lg hover:opacity-60 hover:bg-primary  hover:text-white"
                (click)="handleOk()" [nzLoading]="isConfirmLoading">{{'Button.confirm'| translate }}</button>
        </div>
    </ng-template>
</nz-modal>