<div class="relative border-b-2 border-solid border-[#D8D8D8] mb-3" [class.border-b-2]="device!=='desktop'">
    <form *ngIf="isShowSearch" [formGroup]="form"
        class="grid grid-cols-1 mt-3 gap-3 lg:grid-cols-[repeat(5,1fr)_120px]">
        <mat-form-field class="custom-input col-span-1" appearance="outline">
            <mat-label class="bg-white">{{'labelInput.city'| translate}}</mat-label>
            <mat-select formControlName="city">
                <mat-option *ngFor="let city of listCity" [value]="city.value">
                    {{ city.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="custom-input col-span-1" appearance="outline">
            <mat-label class="bg-white">{{'labelInput.district' | translate}}</mat-label>
            <mat-select formControlName="district">
                <mat-option *ngFor="let district of listDistrict" [value]="district.value">
                    {{ district.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="custom-input col-span-1" appearance="outline">
            <mat-label class="bg-white">{{'labelInput.ward' | translate}}</mat-label>
            <mat-select formControlName="ward">
                <mat-option *ngFor="let ward of listWard" [value]="ward.value">
                    {{ ward.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="custom-input col-span-1" appearance="outline">
            <mat-label class="bg-white">{{'labelInput.priceRange' | translate}}</mat-label>
            <mat-select formControlName="priceRange">
                <mat-option *ngFor="let priceRange of listPriceRange" [value]="priceRange.value">
                    {{ priceRange.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="custom-input col-span-1" appearance="outline">
            <mat-label class="bg-white">{{'labelInput.acreage' | translate}}</mat-label>
            <mat-select formControlName="acreage">
                <mat-option *ngFor="let acreage of listAcreage" [value]="acreage.value">
                    {{ acreage.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="flex gap-2 ">
            <div class="cursor-pointer h-fit flex lg:flex-col  gap-1 items-center translate-y-[-20%] py-4 w-fit px-2 hover:opacity-70"
                (click)="handelSearch()"><i class="fa-solid fa-magnifying-glass"></i>
                <span class="text-center"> {{'labelInput.search'|translate}}</span>
            </div>
            <div class=" cursor-pointer h-fit flex lg:flex-col gap-1 items-center translate-y-[-20%] py-4 w-fit px-2 hover:opacity-70"
                (click)="resetSearch()"><i class="fa-solid fa-rotate"></i>
                <span class="text-center"> {{'labelInput.reset'|translate}}</span>
            </div>
        </div>
    </form>
    <div *ngIf="isShowSearch && device!=='desktop'" (click)="isShowSearch = false"
        class="absolute bottom-[-12px] right-5 w-6 h-6 rounded-full flex items-center justify-center text-red-500 border-solid border-[2px] border-red-500 bg-white hover:bg-gray-100 cursor-pointer">
        <i class="fa-solid fa-chevron-up"></i>
    </div>
    <div *ngIf="!isShowSearch && device!=='desktop'" (click)="isShowSearch = true"
        class="absolute bottom-[-12px] right-5 w-6 h-6 rounded-full flex items-center justify-center text-red-500 border-solid border-[2px] border-red-500 bg-white hover:bg-gray-100 cursor-pointer">
        <i class="fa-solid fa-chevron-down"></i>
    </div>
</div>
<router-outlet></router-outlet>