<nz-layout class="min-h-full">
  <nz-layout class="bg-white">
    <nz-header class="bg-white h-10 my-2 pl-2">
      <ng-container>
        <div class="w-full flex items-center justify-between h-full gap-x-2">
          <button (click)="isCollapsed = !isCollapsed" nzType="link" nzSize="large" nz-button>
            <span class="text-primary" nz-icon nzType="menu" nzTheme="outline"></span>
          </button>
          <div class="flex gap-3">
            <div class="flex items-center">
              <i class="fa-regular fa-bell icon mr-[15px]"></i>

              <div class="flex items-center space-x-2 justify-center rounded-full w-10 h-10 relative">
                <img src="assets/img/avatar.png" class="rounded-full w-10 h-10" alt="" />
                <div class="rounded-full w-2 h-2 bg-green-600 absolute bottom-0 right-0  translate-y-[-50%]">
                </div>
              </div>
              <div class="flex items-center space-x-2 ml-2 justify-center">
                <span class="font-[500] text-[16px]">Nguyễn Đặng Hùng</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </nz-header>
    <nz-content>
      <div class=" border-t border-solid border-primary h-full">

        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <!-- <nz-footer clas></nz-footer> -->
  </nz-layout>
</nz-layout>