<div class="p-3">

    <form [formGroup]="form" class="grid grid-cols-1 mt-3 gap-3 lg:grid-cols-[1fr_300px_200px]">
        <mat-form-field class="custom-input col-span-1" appearance="outline">
            <mat-label class="bg-white">{{'payHistoryPage.postTitle' | translate}}</mat-label>
            <input formControlName="postTitle" matInput (keypress)="searchByEnter($event)" />
        </mat-form-field>
        <mat-form-field class="custom-input col-span-1" appearance="outline">
            <mat-label class="bg-white">{{'payHistoryPage.payType' | translate}}</mat-label>
            <mat-select formControlName="type">
                <mat-option *ngFor="let type of payTypeList" [value]="type.value">
                    {{ type.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="flex gap-2 col-span-1 lg:col-start-3 lg:col-end-4 justify-end">
            <div class="bg-primary text-white rounded-xl w-[80px] cursor-pointer h-fit flex lg:flex-col  gap-1 items-center justify-center py-2  px-2 hover:opacity-70"
                (click)="handelSearch()">
                <span class="text-center"> {{'labelInput.search'|translate}}</span>
            </div>
            <div class="bg-red-500 text-white rounded-xl cursor-pointer h-fit flex lg:flex-col gap-1 items-center justify-center py-2 w-[80px] px-2 hover:opacity-70"
                (click)="resetSearch()">
                <span class="text-center"> {{'labelInput.reset'|translate}}</span>
            </div>
        </div>
    </form>


    <div class="flex  mt-5">
        <p class="text-primary text-xl font-medium ">{{"payHistoryPage.payHistory"|translate}}</p>
    </div>

    <app-share-table [pageIndex]="1" [loaded]="!isLoading" [data]="data" [total]="totalCount" [pageSize]="30"
        [maxHeight]="'calc(100vh - 320px)'" (pageIndexChange)="changePage($event)"
        (pageSizeChange)="changePageSize($event)">
        <ng-template #headers>
            <th scope=" col" class="font-semibold text-center w-[50px]">{{'AdminPage.no'| translate}}</th>
            <th scope=" col" class="font-semibold text-center">{{'payHistoryPage.payCode'| translate}}</th>
            <th scope=" col" class="font-semibold text-center">{{'payHistoryPage.postTitle'| translate}}</th>
            <th scope="col">{{'payHistoryPage.payDate'| translate}}</th>
            <th scope="col">{{'payHistoryPage.payType'| translate}}</th>
            <th scope="col" class="max-w-[150]">{{'payHistoryPage.cost'| translate}}</th>
        </ng-template>
        <ng-template #rows let-row let-index="index">
            <td class="max-w-[50px]  !h-12 text-balance ">{{ index+1 }}</td>
            <td class=" max-w-[100] w-[100] !h-12 truncate hover:whitespace-normal">{{ row.payCode }}
            </td>
            <td class=" max-w-[500px] w-[500px] !h-12 truncate hover:whitespace-normal">{{ row.postTitle }}
            </td>
            <td class="w-[200px]  !h-12 ">{{ row.payDate | date :'dd/MM/yyyy'}}</td>

            <td class="max-w-[150px]  !h-12 " [class.text-green-500]="row.type===0"
                [class.text-yellow-500]="row.type===1">
                {{row.type===0?createPostTitle:editPostTitle}}
            </td>
            <td class="max-w-[150px] !h-12">
                {{formatNumberWithDot(row.price)}} đ
            </td>
        </ng-template>
    </app-share-table>
</div>